<!DOCTYPE html>
<html len="en">

<head>
    <title>Zutaten</title>
</head>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Zutatenliste</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                                class="material-icons">&#xE147;</i> <span>Zutat hinzufügen</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Auf Lager</th>
                        <th>Maßeinheit</th>
                        <th>Category</th>
                        <th>Suchbezeichnung</th>
                        <th style="width: 10%;">Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < IngredientList.length; i++){ %>
                        <tr>
                            <td>
                                <%= IngredientList[i].Description%>
                            </td>
                            <td>
                                <%= IngredientList[i]. Amount_on_Stock%>
                            </td>
                            <td>
                                <%= UnitOfMeasurement[IngredientList[i].UnitOfMeasurement - 1].Unit%>
                            </td>
                            <td>
                                <%= Category[IngredientList[i].Category - 1].CATEGORY%>
                            </td>
                            <td>
                                <%= IngredientList[i].Searchname%>
                            </td>
                            <td>
                                <button id="OpensubtractModal" data-toggle="modal" data-target="#SubtractIngredientModal" onclick="OpenSubtractModal('<%= JSON.stringify(IngredientList[i])%>')" style="padding: 0; border: none; background: none;">
                                    <i class="bi bi-dash-circle text-danger" title="Subtract" style="font-size: 18px;"></i></button>

                                <button id="OpenEditModal" data-toggle="modal" data-target="#EditIngredientModal" onclick="OpenEditModal('<%= JSON.stringify(IngredientList[i])%>')" style="padding: 0; border: none; background: none;">
                                    <i class="bi bi-pencil-square text-warning" title="Edit" style="font-size: 18px;"></i></button>

                                <button id="OpenAddModal" data-toggle="modal" data-target="#AddIngredientModal" onclick="OpenAddModal('<%= JSON.stringify(IngredientList[i])%>')" style="padding: 0; border: none; background: none;">
                                    <i class="bi bi-plus-circle text-success" title="Add" style="font-size: 18px;"></i></button>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Zeige Eintrag <b>
                        <%= Number(Site) * Number(NoRows)%>
                    </b> bis <b>
                        <%=(Number(Site) + 1) * Number(NoRows)%>
                    </b> von <b>
                        <%= Number(Count) %>
                    </b> Einträgen</div>
                <% if (Site==0) {%>

                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item active"><a href="0" class="page-link">1</a></li>
                        <li class="page-item"><a href="1" class="page-link">2</a></li>
                        <li class="page-item"><a href="2" class="page-link">3</a></li>
                        <li class="page-item"><a href="3" class="page-link">4</a></li>
                        <li class="page-item"><a href="4" class="page-link">5</a></li>
                        <li class="page-item"><a href="1" class="page-link">Next</a></li>
                    </ul>
                    <% } else if (Site==1){%>
                        <ul class="pagination">
                            <li class="page-item"><a href="0">Previous</a></li>
                            <li class="page-item"><a href="0" class="page-link">1</a></li>
                            <li class="page-item active"><a href="1" class="page-link">2</a></li>
                            <li class="page-item"><a href="2" class="page-link">3</a></li>
                            <li class="page-item"><a href="3" class="page-link">4</a></li>
                            <li class="page-item"><a href="4" class="page-link">5</a></li>
                            <li class="page-item"><a href="2" class="page-link">Next</a></li>
                        </ul>
                        <% } else {%>
                            <ul class="pagination">
                                <li class="page-item"><a href="<%=Number(Site) - 1%>">Previous</a></li>
                                <li class="page-item">
                                    <a href="<%=Number(Site) - 2%>" class="page-link">
                                        <%=Number(Site) + 1 - 2%>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="<%=Number(Site) - 1%>" class="page-link">
                                        <%=Number(Site) + 1 - 1%>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a href="<%=Number(Site) + 1%>" class="page-link">
                                        <%=Number(Site) + 1%>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="<%=Number(Site) + 1%>" class="page-link">
                                        <%=Number(Site) + 1 + 1%>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="<%=Number(Site) + 2%>" class="page-link">
                                        <%=Number(Site) + 1 + 2%>
                                    </a>
                                </li>
                                <li class="page-item"><a href="<%=Number(Site) + 1%>" class="page-link">Next</a></li>
                            </ul>
                            <% } %>
            </div>
        </div>
    </div>
    <!-- Create Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" id="formElem">
                    <div class="modal-header">
                        <h4 class="modal-title">Zutat Hinzufügen</h4>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="InputDescription">Bezeichnung</label>
                            <input type="text" class="form-control" id="InputDescription" name="InputDescription" required onchange="ChangeSearchName()">
                        </div>
                        <div class="form-group">
                            <label for="UnitOfMeasurement ">Masseinheit</label>
                            <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control" required>
                                <option selected disabled hidden style='display: none' value=''></option>
                                <% for(var i=0; i < UnitOfMeasurement.length; i++){%>
                                    <option value="<%= UnitOfMeasurement[i].ID%>" style="text-align: right;">
                                        <%=UnitOfMeasurement[i].Unit%>
                                    </option>
                                    <% }; %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="AmountOnStock ">Vorhandene Menge</label>
                            <input type="number" class="form-control" id="AmountOnStock " name="AmountOnStock" required min="0">
                        </div>
                        <div class="form-group">
                            <label for="Category">Kategorie</label>
                            <select name="Category" id="Category" class="form-control" autofocus required>
                                <option selected disabled hidden style='display: none' value=''></option>
                                <% for(var i=0; i < Category.length; i++){%>
                                    <option value="<%= Category[i].ID%>" style="text-align: right;">
                                        <%=Category[i].CATEGORY%>
                                    </option>
                                    <% }; %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="SearchName">Suchbezeichnung</label>
                            <input type="text" class="form-control" id="SearchName" name="SearchName" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input edit-modal-close type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input edit-modal-save type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="EditIngredientModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="EditFormElem">
                    <div class="modal-header">
                        <h4 class="modal-title">Zutat Bearbeiten</h4>
                        <input type="text" class="hidden" id="IngredientID" name="IngredientID" style="visibility: hidden;">
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="InputDescription">Bezeichnung</label>
                            <input type="text" class="form-control" id="IngredientEditDescription" name="InputDescription" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="UnitOfMeasurement">Masseinheit</label>
                            <select name="UnitOfMeasurement" id="IngredientUnitOfMeasurement" class="form-control" required>
                                <% for(var x=0; x < UnitOfMeasurement.length; x++){%>
                                    <option value="<%= UnitOfMeasurement[x].ID%>" style="text-align: right;">
                                        <%=UnitOfMeasurement[x].Unit%>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="IngredientAmountOnStock ">Vorhandene Menge</label>
                            <input type="number" class="form-control" id="IngredientAmountOnStock" name="AmountOnStock" required min="0" value=''>
                        </div>
                        <div class="form-group">
                            <label for="Category">Kategorie</label>
                            <select name="Category" id="IngredientCategory" class="form-control" required>
                                <% for(var x=0; x < Category.length; x++){%>
                                    <option value="<%= Category[x].ID%>" style="text-align: right;">
                                        <%=Category[x].CATEGORY%>
                                    </option>
                                    <% }; %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="SearchName">Suchbezeichnung</label>
                            <input type="text" class="form-control" id="IngredientSearchName" name="SearchName" required value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" id="CloseEditModal">
                        <input type="button" id="SaveEditModal" class="btn btn-info" value="Save" onclick="PatchData()">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--AddIngredientModal-->
    <div id="AddIngredientModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="AddFormElem">
                    <div class="modal-header">
                        <h4 class="modal-title">Menge Hinzufügen</h4>
                        <input type="text" class="hidden" id="IngredientID" name="IngredientID" style="visibility: hidden;">
                        <input type="text" class="hidden" id="Amount_on_Stock" name="Amount_on_Stock" style="visibility: hidden;">
                        <input type="text" class="hidden" id="Description" name="Description" style="visibility: hidden;">
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="AddIngredientModalAmount">Wie viel ist dazugekommen?</label>
                            <input type="number" class="form-control" id="AddIngredientModalAmount" name="AddIngredientModalAmount" value="" min="0" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" id="CloseEditModal">
                        <input type="button" id="SaveEditModal" class="btn btn-info" value="Save" onclick="AddIngridient()">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--subtractIngredientModal-->
    <div id="SubtractIngredientModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="subtractFormElem">
                    <div class="modal-header">
                        <h4 class="modal-title">Menge Hinzufügen</h4>
                        <input type="text" class="hidden" id="IngredientID" name="IngredientID" style="visibility: hidden;">
                        <input type="text" class="hidden" id="Amount_on_Stock" name="Amount_on_Stock" style="visibility: hidden;">
                        <input type="text" class="hidden" id="Description" name="Description" style="visibility: hidden;">
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="subtractIngredientModalAmount">Wie viel wurde verbraucht?</label>
                            <input type="number" class="form-control" id="subtractIngredientModalAmount" name="subtractIngredientModalAmount" value="" min="0" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" id="CloseEditModal">
                        <input type="button" id="SaveEditModal" class="btn btn-info" value="Save" onclick="SubtractIngredient()">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Scripts-->
    <script>
    </script>
    <script>
        function ChangeSearchName() {
            document.getElementById(formElem);
            formElem.SearchName.value = formElem.InputDescription.value.toUpperCase();
        }

        function OpenEditModal(ingredientString) {
            document.getElementById(EditFormElem)
            let ingredientJSON = JSON.parse(ingredientString);

            EditFormElem.IngredientID.value = ingredientJSON.ID;
            EditFormElem.IngredientEditDescription.value = ingredientJSON.Description;
            EditFormElem.IngredientUnitOfMeasurement.value = ingredientJSON.UnitOfMeasurement;
            EditFormElem.IngredientAmountOnStock.value = ingredientJSON.Amount_on_Stock;
            EditFormElem.IngredientCategory.value = ingredientJSON.Category;
            EditFormElem.IngredientSearchName.value = ingredientJSON.Searchname;
        }

        function OpenAddModal(ingredientString) {
            document.getElementById(AddFormElem);
            let ingredientJSON = JSON.parse(ingredientString);

            AddFormElem.IngredientID.value = ingredientJSON.ID;
            AddFormElem.Amount_on_Stock.value = ingredientJSON.Amount_on_Stock;
            AddFormElem.Description.value = ingredientJSON.Description;
            AddFormElem.AddIngredientModalAmount.value = 0;
        }

        function OpenSubtractModal(ingredientString) {
            document.getElementById(subtractFormElem);
            let ingredientJSON = JSON.parse(ingredientString);

            subtractFormElem.IngredientID.value = ingredientJSON.ID;
            subtractFormElem.subtractIngredientModalAmount.value = 0;
            subtractFormElem.Amount_on_Stock.value = ingredientJSON.Amount_on_Stock;
            subtractFormElem.Description.value = ingredientJSON.Description;
            subtractFormElem.subtractIngredientModalAmount.max = ingredientJSON.Amount_on_Stock;
        }

        function PatchData() {
            document.getElementById(EditFormElem);
            let formData = new FormData(EditFormElem);
            const data = new URLSearchParams();
            formData.forEach((value, key) => data.append(key, value));
            let request = fetch('' + window.location.href, {
                method: 'PATCH',
                body: data,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            }).then(({
                status
            }) => {
                if (status == 200) {
                    console.log('passt');
                    window.open(window.location.href, "_self");
                }
            })
        }

        function AddIngridient() {
            document.getElementById(AddFormElem);
            let formData = new FormData(AddFormElem);
            const data = new URLSearchParams();
            formData.forEach((value, key) => data.append(key, value));

            let request = fetch('/Zutaten/AddIngridient', {
                method: 'PATCH',
                body: data,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            }).then(({
                status
            }) => {
                if (status == 200) {
                    window.open(window.location.href, "_self");
                }
            })
        }

        function SubtractIngredient() {
            document.getElementById(subtractFormElem);
            let formData = new FormData(subtractFormElem);
            const data = new URLSearchParams();
            formData.forEach((value, key) => data.append(key, value));

            let request = fetch('/Zutaten/SubtractIngredient', {
                method: 'PATCH',
                body: data,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            }).then(({
                status
            }) => {
                if (status == 200) {
                    window.open(window.location.href, "_self");
                }
            })
        }
    </script>
</body>

</html>